.main-container {
    width: 100%;
    height: 100%;
    background-color: red;
}

.header {
    width: 100%;
    min-height: 100px;
    background-color: #ffffff;
}
.main-content-wrapper {
    width: 100%;
    height: 560px;
    background-color: blue;
    margin: 0 auto;
}

.main-image {
    max-width: 100%;
    height: 200px;
    background-color: orange;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

#dentist-image {
    width: 100%;
}


.main-content-section {
    width: 100%;
    height: 300px;
    background-color: #01b9af;
}
