.main-container {
    width: 100%;
    background-color: lightgray;
}

.header {
    width: 100%;
    min-height: 100px;
    background-color: #ffffff;
}

.business-name {
    font-family: 'Tangerine', cursive;
    width: 80%;
    font-size: 40px;
    color: #01b9af;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.main-image {
    max-width: 100%;
    background-color: orange;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

#dentist-image {
    width: 100%
}


.main-content-section {
    width: 100%;
    background-color: #01b9af;
    padding-top: 30px;
    color: white;
}

.main-content-wrapper {
    width: 90%;
    background-color: none;
    margin: 0 auto;
}

.dentist-icon {
    width: 100%;
    background-color: none;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

.title-section {
    margin-bottom: 20px;
    text-align: center;
    background-color: none;
}

.titles {
    font-size: 36px;
}

.1st-paragraph-section {
    color: white;
    margin-bottom: 30px;
}

.paragraphs {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 24px;
}


.hours-section {
    background-color: white;
    color: #2b2e33;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}

.clock-icon-section {
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

.2nd-paragraph-section {
    color: black;
    margin-bottom: 30px;
}

.hours {
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d7d7d7;
    color: #2b2e33;
    font-size: 14px;
}

.bottom-hours {
    border-bottom: none;
}

.tooth-icon-section {
    text-align: center;
    margin-bottom: 30px;
}


.large-title-section {
    margin-bottom: 20px;
    text-align: center;
    color: #01b9af;
    font-size: 45px;
}

.second-content-wrapper {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 75px;
}

.dark-paragraphs {
    color: #2b2e33;
}

.meet-us-title-section {
    color: #2b2e33;
    background-color: none;
    text-align: center;

}

.meet-us-doctors-section {
    color: #2b2e33;
    background-color: none;
    text-align: center;
    margin-bottom: 20px;
}

.dorrow-title {
    font-size: 32px; !important
}

.dorow-pic-section {
    width: 100%;
    height: 300px;
    background-color: grey;
    margin-bottom: 30px;
}

.christensen-title {
    font-size: 32px;
    color: #2b2e33;
    text-align: center;
    margin-bottom: 20px;
}
.christensen-pic-section {
    width: 100%;
    height: 300px;
    background-color: grey;
    margin-bottom: 100px;
}

.footer {
    width: 100%;
    /*height: 300px;*/
    background-color: #01b9af;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-titles {
    width: 100%;
    color: white;
    background-color: none;
    font-size: 30px;
    padding-left: 30px;
    margin-top: 15px;;
}

.copyright-section {
    width: 100%;
    height: 75px;
    background-color: #00938b;
    padding-top: 30px;
    font-size: 15px;
}

.copyright-section-content {
    color: white;
    text-align: center;
}

.services-provided-section {
    width: 100%;
    background-color: none;
    padding-left: 40px;
    margin-top: 10px;
}

.services-provided {
    width: 100%;
    margin-bottom: 7px;
}

.footer-address {
    font-family: 'Tangerine', cursive;
    width: 100%;
    color: white;
    background-color: none;
    font-size: 23px;
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.address {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.phone {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.email {
    padding-left: 30px;
    padding-right: 30px;
}


@media (min-width:760px) {

    .header {
        width: 90%;
        min-height: 100px;
        background-color: #ffffff;
        margin: 0 auto;
    }

    .business-name {
        font-family: 'Tangerine', cursive;
        width: 80%;
        font-size: 40px;
        color: #01b9af;
        text-align: left;
        margin: 0 auto;
        padding: 20px;
    }

    .main-image {
        max-width: 100%;
        background-color: orange;
        background: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    #dentist-image {
        width: 90%;
        margin: 0 auto;
    }

    .main-content-section {
        width: 90%;
        background-color: #01b9af;
        color: white;
        margin: 0 auto;
        padding-top: 0px;
    }

    .main-content-wrapper {
        width: 100%;
        background-color: none;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
    }

    .left-section {
        width: 33%;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;

    }

    .dentist-icon {
        width: 100%;
        background-color: none;
        text-align: center;
        font-size: 48px;
        margin-bottom: 30px;
    }

    .hours-section {
        background-color: white;
        color: #2b2e33;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 0px;
    }

    .middle-section {
        width: 33%;
    }

    .right-section {
        width: 33%;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
